.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.center {
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}

.ml {
  margin-left: 8px;
}

.mr {
  margin-right: 8px;
}

.childrenDivLeft > div {
  margin-left: 60px;
}
